black
flake8
isort
mypy
doc8
pre-commit

joblib~=1.4.0

pandas
dataprep
numpy
matplotlib~=3.8.4
seaborn~=0.13.2
pyyaml~=6.0.1


scipy~=1.10.1
scikit-learn~=1.4.2
tensorflow~=2.16.1
tensorboard~=2.16.2
keras~=3.3.3
keras-tuner


transformers
datasets
torch
accelerate


bertopic
nltk~=3.8.1
spacy~=3.7.3
contractions

gensim~=4.3.2
