black
flake8
isort
mypy
doc8
pre-commit

joblib

pandas
dataprep
numpy
matplotlib
seaborn
pyyaml


scipy
scikit-learn
tensorflow~=2.16.1
tensorboard~=2.16.2
keras~=3.3.3
keras-tuner


transformers
datasets
torch
accelerate
sentencepiece~=0.2.0


bertopic
nltk
spacy~=3.7.4
pydantic~=2.7.2
contractions

gensim
yellowbrick
outlines