black
flake8
isort
mypy
doc8
pre-commit
pandas~=2.2.2
bertopic
dataprep
numpy~=1.26.4
nltk~=3.8.1
scikit-learn~=1.4.2
spacy~=3.7.3
matplotlib~=3.8.4
seaborn~=0.13.2

joblib~=1.4.0
scipy~=1.13.0
keras~=3.2.1
